<nav *ngIf="breadcrumbs">
  <ol class="list-none text-sm py-2 inline-block">
    <li class="my-1 pr-4 inline-block">
      <ng-icon
        name="featherHome"
        class="inline-block mr-2 translate-y-1.5"
        strokeWidth="1"
        size="24"
      ></ng-icon>
      <a
        *ngIf="breadcrumbs.link"
        [title]="breadcrumbs.link.title"
        [routerLink]="[breadcrumbs.link.href]"
        [queryParams]="
          breadcrumbs.link.queryParams ? breadcrumbs.link.queryParams : {}
        "
        >{{ breadcrumbs.text }}</a
      >
      <ng-container *ngIf="!breadcrumbs.link">{{
        breadcrumbs.text
      }}</ng-container>
    </li>
    <li *ngIf="breadcrumbs.childText" class="my-1 inline-block">
      {{ breadcrumbs.childText }}
    </li>
  </ol>
</nav>
