:host {
  li:not(:last-child) {
    position: relative;
    @apply mr-2;

    &::after {
      content: "/";
      position: absolute;
      right: 0;
      bottom: 0;
      @apply text-gray-400;
    }
  }
}
