<h2 class="text-2xl mb-5"><strong>Design system</strong></h2>

<!-- Forms -->
<h3 class="text-xl text-gray-500 mb-5">&bull; Forms</h3>

<!-- Buttons -->
<h4 class="text-md text-gray-500 mb-5">&mdash;&bull; Buttons</h4>
<div
  class="mb-10 grid gap-5 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
>
  <div>
    <button
      type="button"
      class="px-5 py-2 text-sm text-center text-black transition-all bg-yellow-500 rounded-lg cursor-pointer hover:text-yellow-500 hover:bg-black active:bg-yellow-900 active:text-white"
    >
      Button
    </button>
  </div>
  <div>
    <button
      type="button"
      class="px-5 py-2 text-center text-black transition-all bg-yellow-500 rounded-lg cursor-not-allowed text-sm disabled:opacity-50"
      disabled
    >
      Disabled
    </button>
  </div>
</div>
<!-- / Buttons -->
<!-- / Forms -->

<!-- Breadcrumbs -->
<h3 class="text-xl text-gray-500 mb-5">&bull; Breadcrumbs</h3>

<div class="mb-10">
  <h4 class="text-md text-gray-500 mb-1">&mdash;&bull; One level</h4>
  <zv-breadcrumbs [breadcrumbs]="breadcrumbsExample1"></zv-breadcrumbs>

  <h4 class="text-md text-gray-500 mt-4 mb-1">&mdash;&bull; Two levels</h4>
  <zv-breadcrumbs [breadcrumbs]="breadcrumbsExample2"></zv-breadcrumbs>
</div>
<!-- / Breadcrumbs -->
