<cq-breadcrumbs [breadcrumbs]="breadcrumbs"></cq-breadcrumbs>

<p class="mb-5">A very short design system.</p>

<!-- Forms -->
<h3 class="text-xl text-gray-400 mb-5">Forms</h3>

<!-- Buttons -->
<h4 class="text-md text-gray-400 mb-5">Buttons</h4>
<div class="mb-10 grid gap-5 grid-cols-3 md:grid-cols-3 lg:grid-cols-4">
  <div>
    <button
      type="button"
      class="px-5 py-2 text-sm text-center text-black transition-all bg-yellow-500 rounded-lg cursor-pointer hover:text-yellow-500 hover:bg-black active:bg-yellow-900 active:text-white"
    >
      Button
    </button>
  </div>
  <div>
    <button
      type="button"
      class="px-5 py-2 text-center text-black transition-all bg-yellow-500 rounded-lg cursor-not-allowed text-sm disabled:opacity-50"
      disabled
    >
      Disabled
    </button>
  </div>
  <div></div>
</div>
<!-- / Buttons -->
<!-- / Forms -->

<!-- Icons -->
<h3 class="text-xl text-gray-400 mb-5">Icons</h3>

<div class="mb-10">
  <p>
    <ng-icon
      name="featherCoffee"
      class="inline-block mr-2 translate-y-1.5"
      strokeWidth="1"
      size="24"
    ></ng-icon>
    <ng-icon
      name="featherChrome"
      class="inline-block mr-2 translate-y-1.5"
      strokeWidth="1"
      size="24"
    ></ng-icon>
    <span class="text-gray-400">
      See all available icons at
      <a
        href="https://feathericons.com"
        title="feathericons.com"
        target="_blank"
        rel="noopener"
        >feathericons.com</a
      >.
    </span>
  </p>
</div>
<!-- / Icons -->

<!-- Breadcrumbs -->
<h3 class="text-xl text-gray-400 mb-5">Breadcrumbs</h3>

<div class="mb-10">
  <h4 class="text-md text-gray-400 mb-1">One level</h4>
  <cq-breadcrumbs [breadcrumbs]="breadcrumbsExample1"></cq-breadcrumbs>

  <h4 class="text-md text-gray-400 mt-4 mb-1">Two levels</h4>
  <cq-breadcrumbs [breadcrumbs]="breadcrumbsExample2"></cq-breadcrumbs>
</div>
<!-- / Breadcrumbs -->
