<!-- Header -->
<!--
  Note: Following header is shown only for width above small devices,
  where it composes like a table header. Book component handles header
  (for each book) for width below small devices.
-->
<div class="hidden sm:flex py-3">
  <p class="text-sm text-yellow-600" [ngClass]="bookColumnClasses['name']">
    <strong>Name</strong>
  </p>
  <p class="text-sm text-yellow-600" [ngClass]="bookColumnClasses['authors']">
    <strong>Author(s)</strong>
  </p>
  <p class="text-sm text-yellow-600" [ngClass]="bookColumnClasses['publisher']">
    <strong>Publisher</strong>
  </p>
  <p class="text-sm text-yellow-600" [ngClass]="bookColumnClasses['favorite']">
    <strong>Favorite</strong>
  </p>
</div>
<!-- / Header -->

<!-- Books -->
<div
  *ngFor="let book of books$ | async; trackBy: bookTrackBy"
  class="mb-6 sm:mb-3"
>
  <zv-book [book]="book" [columnClasses]="bookColumnClasses"></zv-book>
</div>
<!-- / Books -->
