<div *ngIf="book && columnClasses" class="sm:flex">
  <div
    [ngClass]="columnClasses['name']"
    class="sm:border-b-[1px] sm:border-solid sm:border-orange-950 sm:py-3 pr-3"
  >
    <p class="text-sm text-yellow-600 mt-3 sm:hidden sm:mt-0">
      <strong>Name</strong>
    </p>
    <p class="mb-3 sm:mb-0">
      <a [routerLink]="['/' + UrlPath.BOOKS, book.id]" [title]="book.name">{{
        book.name
      }}</a>
    </p>
  </div>
  <div
    [ngClass]="columnClasses['authors']"
    class="sm:border-b-[1px] sm:border-solid sm:border-orange-950 sm:py-3 pr-3"
  >
    <p class="text-sm text-yellow-600 mt-4 sm:hidden sm:mt-0">
      <strong>Author(s)</strong>
    </p>
    <p>{{ book.authors | divider : Divider.SLASH }}</p>
  </div>
  <div
    [ngClass]="columnClasses['publisher']"
    class="sm:border-b-[1px] sm:border-solid sm:border-orange-950 sm:py-3 pr-3"
  >
    <p class="text-sm text-yellow-600 mt-4 sm:hidden sm:mt-0">
      <strong>Publisher</strong>
    </p>
    <p>{{ book.publisher }}</p>
  </div>
  <div
    [ngClass]="columnClasses['favorite']"
    class="border-b-[1px] border-solid border-orange-950 py-3"
  >
    <p class="sm:text-center">
      <ng-icon
        name="featherHeart"
        class="inline-block mr-2"
        strokeWidth="1"
        size="24"
        [ngStyle]="{
          transform: 'translateX(0) translateY(0)'
        }"
      ></ng-icon>
      {{ book.isFavorite }}
      <button type="button" (click)="createFavoriteBook(book.id)">Create</button
      >&nbsp;&nbsp;
      <button type="button" (click)="removeFavoriteBook(book.id)">
        Remove
      </button>
    </p>
  </div>
</div>
