<div *ngIf="book && columnClasses" class="sm:flex">
  <div [ngClass]="columnClasses['name']">
    <p class="text-sm sm:hidden"><strong>Name</strong></p>
    <p class="mb-3 sm:mb-0">
      <a
        [routerLink]="['/' + UrlPath.BOOKS]"
        [title]="book.name"
        class="text-yellow-600 underline underline-offset-4 hover:text-yellow-800 transition-colors duration-200"
        >{{ book.name }}</a
      >
    </p>
  </div>
  <div [ngClass]="columnClasses['authors']">
    <p class="text-sm sm:hidden"><strong>Author(s)</strong></p>
    <p>{{ book.authors | divider : Divider.SLASH }}</p>
  </div>
  <div [ngClass]="columnClasses['publisher']">
    <p class="text-sm sm:hidden"><strong>Publisher</strong></p>
    <p>{{ book.publisher }}</p>
  </div>
  <div [ngClass]="columnClasses['favorite']">Icon</div>
</div>
