<header>
  <a
    [routerLink]="['/']"
    routerLinkActive="text-red-300"
    [routerLinkActiveOptions]="{ exact: true }"
    title="Home"
    >Logo</a
  >

  <nav>
    <ul>
      <li>
        <a
          [routerLink]="['/' + UrlPath.BOOK_LIST]"
          [queryParams]="{ page: 1 }"
          routerLinkActive="text-red-300"
          title="Books"
          >Books</a
        >
      </li>
      <li routerLinkActive="mt-5">
        <a
          [routerLink]="['/' + UrlPath.BOOK_FAVORITE_LIST]"
          routerLinkActive="text-red-300"
          [routerLinkActiveOptions]="{ exact: true }"
          title="Books"
          >Favorite books</a
        >
      </li>
    </ul>
  </nav>
</header>
