<header class="py-5 sm:flex">
  <!-- Todo -->
  <!--
  <a
    [routerLink]="['/']"
    routerLinkActive=""
    [routerLinkActiveOptions]="{ exact: true }"
    title="Home"
    class="flex justify-center mb-3"
  >
    <ng-icon
      name="featherBook"
      strokeWidth="1"
      size="48"
      class="text-rose-500"
    ></ng-icon>
  </a>
  -->
  <nav class="w-full bg-indigo-300 bg-opacity-5">
    <ul class="flex justify-start shadow-xl">
      <li class="w-32 text-center mr-1 h-12 rounded-xl">
        <a
          [routerLink]="['/' + UrlPath.BOOK_LIST]"
          [queryParams]="{ page: 1 }"
          routerLinkActive="text-orange-500"
          title="Books"
          class="py-3 block no-underline text-yellow-500 hover:text-yellow-300"
          >Books</a
        >
      </li>
      <li class="w-32 text-center mr-1 h-12 rounded-xl">
        <a
          [routerLink]="['/' + UrlPath.BOOK_FAVORITE_LIST]"
          routerLinkActive="text-orange-500"
          [routerLinkActiveOptions]="{ exact: true }"
          title="Favorite books"
          class="py-3 block no-underline text-yellow-500 hover:text-yellow-300"
          >Favorite books</a
        >
      </li>
    </ul>
  </nav>
</header>
