<cq-breadcrumbs
  [breadcrumbs]="{ text: 'Favorite books', link: null, childText: null }"
></cq-breadcrumbs>

<!-- Create favorite -->
<div class="mt-3 mb-10">
  <p>To do: Create favorite with dropdown and submit button</p>
</div>
<!-- / Create favorite -->

<div *ngIf="isLoading$ | async">Loading ...</div>

<!-- TODO: refactor with if/else blocks -->
<ng-container *ngIf="(isLoading$ | async) === false">
  <ng-container *ngIf="(hasLoaded$ | async) === false">
    <cq-error-generic></cq-error-generic>
  </ng-container>
  <ng-container *ngIf="hasLoaded$ | async">
    <ng-container *ngIf="bookListFavorite$ | async as bookListFavorite">
      <cq-book-list
        [list]="bookListFavorite"
        (removeFavoriteBook)="onRemoveFavoriteBook($event)"
      ></cq-book-list>
    </ng-container>
  </ng-container>
</ng-container>

<!-- TODO
  I could use this

  <div *ngIf="bookListFavorite$ | async as bookListFavorite; else loading">

</div>
<ng-template #loading>Loading...</ng-template>


-->
