<cq-breadcrumbs [breadcrumbs]="breadcrumbs"></cq-breadcrumbs>

<!-- Create favorite -->
<div class="mt-3 mb-10">
  <p>Create favorite TBD</p>
</div>
<!-- / Create favorite -->

<div *ngIf="isLoading$ | async">Loading ...</div>

<ng-container *ngIf="!(isLoading$ | async)">
  <ng-container *ngIf="!(hasLoaded$ | async)">
    <div>
      Uh, we have run into a problem. Please refresh the page or try later.
    </div>
  </ng-container>
  <ng-container *ngIf="hasLoaded$ | async">
    <ng-container *ngIf="bookListFavorite$ | async as bookListFavorite">
      <cq-book-list [list]="bookListFavorite"></cq-book-list>
    </ng-container>
  </ng-container>
</ng-container>
