<div class="w-full flex justify-center mt-5 mb-10">
  <ul class="list-none flex flex-wrap justify-center">
    <li *ngFor="let page of numberOfPages | numericList">
      <ng-template [ngIf]="page === currentPage" [ngIfElse]="elseTemplate">
        <span class="mx-2 my-2 p-4">{{ page }}</span>
      </ng-template>
      <ng-template #elseTemplate>
        <a
          [routerLink]="[urlPath]"
          [queryParams]="{ page }"
          [title]=""
          class="mx-2 my-2 p-4"
          >{{ page }}</a
        >
      </ng-template>
    </li>
  </ul>
</div>
