<cq-breadcrumbs [breadcrumbs]="breadcrumbs"></cq-breadcrumbs>

<!-- Search -->
<div class="mt-3 mb-10">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    (ngModelChange)="searchTermChange$.next($event)"
    placeholder="Search for books ..."
    class="w-64 rounded-xl h-10 bg-transparent px-4 py-0 outline-none border-[2px] border-yellow-500 focus:text-white focus:border-yellow-300"
    spellcheck="false"
  />
  <ng-icon
    name="featherSearch"
    class="inline-block ml-2 mr-2 text-yellow-500 translate-y-2.5"
    strokeWidth="2"
    size="32"
  ></ng-icon>
  <!-- TODO: styling -->
  <!--
  <button type="button" (click)="clearSearch()" class="button mr-3">
    Clear search
  </button>
-->

  <p class="leading-[100%] mt-2 text-gray-300">
    <small
      >Enter full book name (case-insensitive),<br />
      e.g. The Mystery Knight</small
    >
  </p>
</div>
<!-- Search -->

<div *ngIf="isLoading$ | async">Loading ...</div>

<ng-container *ngIf="!(isLoading$ | async)">
  <ng-container *ngIf="!(hasLoaded$ | async)">
    <!--
      Note to code reviewer:

      To see error, e.g. corrupt apiUrl in books-service.ts file. I have tested it with
      `${ApiUrl.BASE}/${ApiUrl.PATH}-not-there`.

      In the real scenario we would expect verbose errors from API to guarantee good user
      experience. It is always a good practice to show user two things:
        a) descriptive error
        b) what can be done (but unfortunately will not necessarily solve the issue)
    -->
    <cq-error-generic></cq-error-generic>
  </ng-container>
  <ng-container *ngIf="hasLoaded$ | async">
    <ng-container *ngIf="bookList$ | async as bookList">
      <cq-book-list [list]="bookList"></cq-book-list>
    </ng-container>
  </ng-container>
</ng-container>
